@import './derby_variables.scss';

.derby-custom-button {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white;
}

.derby-custom-button:hover,
.derby-custom-button:focus {
  background-color: transparent !important;
  color: $primary-color;
}

.derby-custom-button.euiButton:disabled.euiButton--fill {
  color: white;
}

.derby-input-field:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

.derby-row label.euiFormLabel-isFocused {
  color: $secondary-color !important;
}

.derby-logo {
  display: flex;
  align-items: center;
  font-weight: 600 !important;
}

.derby-logo img {
  padding: 2px;
  margin-left: 4px;
}

.derby-logo span {
  font-weight: 500;
}

.derbyLoginWelcome__title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.derbyLoginWelcome__subtitle {
  font-size: 1.25em;
  font-weight: 300;
}

.derby-saved-objects-import-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.derby-loading-text {
  font-size: 1.25em;
}

/* Apply the animation to the "Loading ..." div */
.derby-flashing-text {
  animation: flash 0.5s infinite; /* Use 'flash' keyframes, 2 seconds duration, repeat infinitely */
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.derbyLoadingLogo {
  animation: loadingLogo 2s infinite;
}

@keyframes loadingLogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loginWelcome__logo {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
}

.loginWelcome__logo img {
  width: 100%;
  height: auto;
  display: block;
}

.derbyLoadingLogo {
  width: 50px;
  height: 50px;
}

.derby-logo {
  display: block;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: auto;
  max-width: 235px;
  margin-bottom: 0px;
  margin-left: 8px;
}

.derby-logo img {
  width: 100%;
  height: auto;
  display: block;
}

#globalHeaderBars {
  display: flex;
}

#globalHeaderBars > div.euiHeader:first-child {
  display: flex;
  justify-content: space-between;
}

#globalHeaderBars
  > div.euiHeader:first-child
  > div.euiHeaderSection:nth-child(2)
  > div.euiHeaderSectionItem:first-child {
  border: 2px solid yellow;
  display: none;
  width: 0px;
}

/*
 * Refactored from src/core/public/_core.scss
 */

// Removes the help menu icon
#headerHelpMenu {
  display: none;
}

// Menu
.euiListGroupItem-isActive {
  background-color: rgba($color: $secondary-color, $alpha: 0.25) !important;
}

button.euiHeaderSectionItem__button[data-test-subj='newsfeed'] {
  display: none;
}

// Stack Management Menu
.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  color: $secondary-color;
}

// Main App Buttons
.euiButton--primary {
  color: $secondary-color;
  border-color: $secondary-color;
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

.euiButton--primary:enabled:hover,
.euiButton--primary:enabled:focus {
  background-color: $secondary-color;
  color: white;
}

.euiButton--primary.euiButton--fill {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
}

.euiButton--primary.euiButton--fill:enabled:hover,
.euiButton--primary.euiButton--fill:enabled:focus {
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
}

.euiButtonEmpty--primary,
.euiButtonEmpty__text {
  color: $primary-color;
}

.euiListGroupItem__button {
  color: $primary-color;
}

.euiButtonEmpty--primary:focus {
  background-color: rgba($color: $primary-color, $alpha: 0.1);
}

// Button Icons
.euiButtonIcon--primary {
  color: $primary-color;
}

// Form Toggles
.euiSwitch .euiSwitch__body {
  background-color: $secondary-color;
}

// Table Styles
.euiTableHeaderButton:hover .euiTableCellContent__text,
.euiTableHeaderButton:focus .euiTableCellContent__text {
  color: $secondary-color;
}

.euiLink.euiLink--primary {
  color: $primary-color;
}
.euiLink.euiLink--primary:hover,
.euiLink.euiLink--primary:focus {
  color: $secondary-color;
}

.euiTableHeaderButton:hover .euiTableSortIcon,
.euiTableHeaderButton:focus .euiTableSortIcon {
  fill: $secondary-color;
}

.euiBasicTable-loading tbody:before {
  background-color: $secondary-color !important;
}

// Date Picker
.euiSuperDatePicker__prettyFormatLink {
  color: $primary-color;
}

.react-datepicker__day--selected:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  color: $secondary-color;
}

.react-datepicker__day--today {
  color: $secondary-color;
}

.react-datepicker__year-option--selected_year,
.react-datepicker__month-option--selected_month,
.react-datepicker__time-list-item--selected {
  background: $secondary-color !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}

// Input Fields
.euiFieldNumber--compressed:focus,
.euiFieldNumber:focus,
.euiSelect--compressed:focus,
.euiSelect:focus,
.euiDatePopoverButton:focus,
.euiDatePopoverButton-isSelected,
.euiFieldText:focus,
.euiTextArea:focus,
.euiComboBox.euiComboBox-isOpen .euiComboBox__inputWrap,
.euiSuperSelectControl--compressed:focus,
.euiSuperSelectControl--compressed:hover,
.euiFieldPassword:focus,
.euiMarkdownEditorTextArea:focus,
.euiMarkdownEditor:focus-within .euiMarkdownEditorTextArea,
.euiFilePicker__showDrop .euiFilePicker__prompt,
.euiFilePicker__input:focus + .euiFilePicker__prompt,
.euiSuperSelectControl.euiSuperSelect--isOpen__button,
.euiFieldSearch:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  );
}

.euiFormLabel-isFocused {
  color: $secondary-color !important;
}

// Tabs
.euiTab.euiTab-isSelected {
  color: $primary-color;
}

.euiTab:focus {
  background-color: rgba($color: $secondary-color, $alpha: 0.1);
}

.euiTab.euiTab-isSelected::after {
  background-color: $primary-color;
}

// Paragraph hyperlinks
.kbnMarkdown__body a {
  color: $primary-color !important;
}

.kbnMarkdown__body a:hover {
  color: rgba($color: $primary-color, $alpha: 0.5) !important;
}

// Cards
.euiCard--isSelectable--success.euiCard-isSelected {
  border-color: $secondary-color;
}

.euiCheckableCard:not(.euiCheckableCard-isDisabled).euiCheckableCard-isChecked {
  border-color: $secondary-color;
}

.euiCheckableCard-isChecked .euiCheckableCard__control {
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

.euiCardSelect--success:enabled {
  color: $secondary-color;
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

// Steps
.euiStep__circle[class*='incomplete'] {
  border-color: $secondary-color;
}

span.euiIEFlexWrapFix > div > div.euiFlexItem.euiFlexItem--flexGrowZero > div > div.euiAvatar {
  background-color: $secondary-color !important;
}

.euiStepNumber {
  background-color: $secondary-color;
}

//Dev Tools
.conApp__editorActionButton--success {
  color: $secondary-color !important;
}

// Misc
.dscFieldSearch__toggleButton {
  color: $primary-color !important;
}

.euiRadio .euiRadio__input:checked + .euiRadio__circle,
.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square {
  border-color: $secondary-color;
  background-color: $secondary-color;
}

.euiToast--success {
  border-top: 2px solid $primary-color;
}

.savedObjectsManagementImportSummary__createdCount,
.euiIcon--success {
  color: $secondary-color !important;
}

.euiSelectableListItem-isFocused:not([aria-disabled='true']),
.euiSelectableListItem:hover:not([aria-disabled='true']) {
  color: $primary-color;
}

// TODO - Check to see if still necessary

.euiFilterSelectItem:focus,
.euiFilterSelectItem-isFocused {
  color: $primary-color;
}

.euwHeaderLogo__icon g,
.loginWelcome__logo .euiIcon {
  display: none;
  visibility: hidden;
}

.euiButtonToggle__input:enabled:hover + .euiButtonToggle[class*='primary'],
.euiButtonToggle__input:enabled:focus + .euiButtonToggle[class*='primary'],
.euiButtonToggle__input:enabled:active + .euiButtonToggle[class*='primary'] {
  background-color: #1d1e24;
}

.euiToggle--checked .euiButtonToggle__input:enabled:hover + .euiButtonToggle[class*='primary'],
.euiToggle--checked .euiButtonToggle__input:enabled:focus + .euiButtonToggle[class*='primary'],
.euiToggle--checked .euiButtonToggle__input:enabled:active + .euiButtonToggle[class*='primary'] {
  background-color: $primary-color;
  border-color: $primary-color;
}

.euiPaginationButton-isActive.euiPaginationButton-isActive {
  color: $secondary-color;
}

.euiListGroupItem--primary .euiListGroupItem__text:not(:disabled),
.euiListGroupItem--primary .euiListGroupItem__button:not(:disabled) {
  color: $secondary-color;
}
